<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.walkinclinics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD98Ajlm0VqeKdNGj3qE7GpxnFfWhcw3sQ" />


        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityAdmin"></activity>
        <activity android:name=".ActivityClinic"></activity>
        <activity android:name=".ActivityEmployee"></activity>
        <activity android:name=".ActivityInsurancePayment"></activity>
        <activity android:name=".ActivityPatient"></activity>
        <activity android:name=".ActivitySignUp"></activity>
        <activity android:name=".ActivityEmployeeSignUp"></activity>
        <activity android:name=".ActivitySelectAddress"></activity>
        <activity android:name=".ActivitySetWh"></activity>
        <activity android:name=".ActivitySelectService"></activity>
        <activity android:name=".ActivityEmployeeSetRate"></activity>
        <activity android:name=".ActivityEditInsPay"></activity>
        <activity android:name=".ActivitySearchClinic"></activity>
        <activity android:name=".ActivitySpecificSearch"></activity>
        <activity android:name=".ActivityCompleteAppointment"></activity>
    </application>

</manifest>